body {
    text-align: center;
    font-family: 'Coda', cursive;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: center;
    width: 25%;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .points {
    padding-left: 20px;
}

.score-panel .runner {
    padding-left: 20px;
}


/*
 * Styles for the Score Pop-up
 */

 .score-window {
    display: flex;
    width: 100%;
    height: 120%;
    background-color: #fff;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    text-align: center;
    flex-direction: column;
    padding: 32px;
    border-radius: 10px;
}

 .score-popup {
    display: flex;
    position: absolute;
    text-align: center;
    flex-direction: column;
    width: 300px;
    height: 280px;
    padding: 15px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    z-index: 2;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    color: #fff;
    letter-spacing: 2px;
 }

.score-popup p {
    margin: 10px;
}

.close {
    color: #fff;
    float: right;
}

.totalMoves,
.totalTime,
.totalStars {
    font-size: 125%;
    color: #2e3d49;
    font-weight: 900;
}

.button {
    padding: 5px 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #2e3d49;
    background-color: #fff;
    border: none;
    border-radius: 12px;
    box-shadow: 1px 1px 6px 0px #2e3d49;
    font-size: 75%;
    margin-top: 5px;
}

.button:hover {
    background-color: #02ccba;
    color: #fff;
}
